.social-medias {
  box-sizing: border-box;
  position: fixed;
  /* left: 10%; */
  top: 50%;
  width: 20%;
}

.email-section {
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  width: 20%;
}

.about-me {
  box-sizing: border-box;
  position: relative;
  top: 50%;
  width: 60%;
}
