.social-medias {
  position: fixed;
  top: 50%;
  height: 100vh;
}

.social-medias-links {
  padding: 10px 0;
}

.social-medias-links a {
  text-decoration: none;
  color: #CCD6F6;
}

.social-medias-links a:hover {
  color: #63f3e2;
}