.header {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.nav-links {
  color: #bfcdd3;
  text-decoration: none;
  padding: 0 10px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.nav-links:hover {
  color: #63f3e2;
}

.links-counter {
  color: #63f3e2;
}

.nav-logo {
  width: 50px;
}

.moon-icon {
  margin-left: 10px;
  cursor: pointer;
}

.moon-icon:hover {
  color: #63f3e2;
}