.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
  width: 97%;
  border-bottom: var(--navy-shadow);
  background: transparent;
  z-index: 3;
}

.code-icon {
  color: var(--green);
}

.nav-links {
  color: #bfcdd3;
  text-decoration: none;
  padding: 0 10px;
  font-size: 18px;
  font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
}

.nav-links:hover {
  color: #63f3e2;
}

.links-counter {
  color: #63f3e2;
}

.nav-logo {
  width: 50px;
}

.moon-icon {
  margin-left: 10px;
  cursor: pointer;
}

.moon-icon:hover {
  color: #63f3e2;
}

.menu-icon {
  display: none;
}

@media (max-width:768px) {
  .nav-links-section {
    display: none;
  }

  .menu-icon {
    display: block;
    margin-right: 40px;
    color: var(--green);
  }
}